:root {
    --light_beige: #F3E2D2;
    --beige: #AFA195;
    --brown: #685D52;
}

body {
    background-color: var(--beige);
}

h1 {
    color: white;
    text-align: center;
}
h2 {
    color: white;
    text-align: center;
}
h4 {
    color: var(--beige);
    text-align: center;
    font-size: medium;
}

p {
    color: white;
    font-size: small;
}

a {
    font-weight: bold;
    cursor: pointer;
}

.section_div {
    background-color: var(--brown);
    margin: 10px 10px 0px 10px;
}

.btn_home {
    background-color: var(--brown);
    border: 0px solid;
    width:auto;
    font-size: xx-large;
    color: white;
}

.btn_menu {
    border: 1px solid var(--brown);
    border-radius: 0px;
    background-color: var(--brown);
    color: white; 
    width: 100%;
    padding: 10px;
}
.btn_menu:hover {
    border: 1px solid var(--brown);
    background-color: var(--beige);
    /*color: var(--brown)*/
}
.btn_menu:focus {
    background-color: var(--beige);
    border: 1px solid var(--brown);
}

.upload_file {
    width: 100%;
    height: 60px;
    line-height: 60px;
    border: 1px dashed white;
    border-radius: 5px;
    text-align: center;
    color: var(--light_beige);
    margin: 10px 0px;
}

.show_image {
    width: 90%;
}