/*
https://www.w3schools.com/css/css_selectors.asp 
- The element selector selects HTML elements based on the element name. E.g. p, h1, body, div
- The id selector uses the id attribute of an HTML element to select a specific element. To 
select an element with a specific id, write a hash (#) character, followed by the id of the element.
- The class selector selects HTML elements with a specific class attribute. To select elements 
with a specific class, write a period (.) character, followed by the class name.
*/


:root {
    --light_beige: #F3E2D2;
    --beige: #AFA195;
    --brown: #685D52;
}

body {
    background-color: var(--beige);
    font-family: "Monaco", monospace;
}

h1 {
    color: white;
}
h2 {
    color: white;
}
h4 {
    color: var(--beige);
    font-size: medium;
}

h4.pred_result {
    text-align: right;
}

p {
    color: white;
    font-size: small;
}

a {
    font-weight: bold;
    cursor: pointer;
}

.section_div {
    background-color: var(--brown);
    margin: 10px 10px 0px 10px;
}

.btn_home {
    background-color: var(--brown);
    border: 0px solid;
    width: auto;
    font-size: xx-large;
    color: white;
}

.btn_menu {
    border: 1px solid var(--brown);
    border-radius: 0px;
    background-color: var(--brown);
    color: white; 
    width: 100%;
    padding: 10px;
}
.btn_menu:hover {
    border: 1px solid var(--brown);
    background-color: var(--beige);
    /*color: var(--brown)*/
}
.btn_menu:focus {
    background-color: var(--beige);
    border: 1px solid var(--brown);
}

.btn_upload {
    text-align: center;
    border: 1px solid var(--beige);
    border-radius: 0px;
    background-color: var(--brown);
    color: white;
    width: auto;
    padding: 10px;
}

/*.upload_file {
    width: 100%;
    height: 60px;
    line-height: 60px;
    border: 1px dashed white;
    border-radius: 5px;
    text-align: center;
    color: var(--light_beige);
    margin: 10px 0px;
}*/


.img_show_one {
    max-height: 400px;
    max-width: 100%;
}