
:root {
    --light_beige: #F3E2D2;
    --beige: #AFA195;
    --brown: #685D52;

    --scarlet: #B85042;
    --green1: #E4E5D5;
    --green2: #C5C8AB;
    --green3: #A5B198;
    --green4: #545E46;
    --green5: #1F2D16;
}

body {
    background-color: whitesmoke;
    font-family: "Barlow", "Gill Sans", "Verdana", "Calibri", sans-serif;
    margin: auto;
}

h1 {
    color: var(--scarlet);
}

h2 {
    color: black;
}

h3 {
    font-size: large;
    color: var(--scarlet);
    text-align: center;
}

h3.index {
    padding: 0;
    margin: 5% 0;
    width: 100%;
    color: var(--green4);
    font-weight: lighter;
    text-align: justify;
    text-align-last: center;
}

h4{
    color: var(--green4);
    font-size: medium;
    text-align: center;
}


p {
    color: var(--green4);
    font-size: medium;
    font-weight: lighter;
}

p.small {
    font-size: small;
    color: var(--green5);
}

p.upload_text {
    text-align: justify;
    /*text-align-last: center;*/
    line-height: 25px;
    margin: 2% 5%;
}

a {
    color: var(--green4);
    font-weight: lighter;
}
a:hover {
    color: var(--green5);
    font-weight: normal;
}
/*all unvisited links*/
a:link {
    color: var(--green4);
    font-weight: normal;
    text-decoration: none;
}
/*all visited links*/
a:visited {
    color: var(--green4);
    font-weight: normal;
    text-decoration: underline;
}

/*p.download_text{}*/

a {
    font-weight: bold;
    cursor: pointer;
}

hr {
    border: 1px solid var(--scarlet);
    margin-top: 0px;
}

hr.green {
    border: 1px solid var(--green3);
}


.section_div {
    background-color: var(--green1);
    margin: 10px 10px 10px 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}


.contents_div {
    min-height: 600px;
    margin: 2% 5%;
}


.btn_home {
    background-color: transparent;
    border: 0px;
    width: auto;
    font-size: xxx-large;
    color: var(--scarlet);
    margin: auto;
}


.btn_menu {
    border: 0px solid var(--green3);
    border-radius: 0px;
    background-color: var(--green3);
    color: white; 
    width: 100%;
    padding: 10px;
}
.btn_menu:hover {
    background-color: var(--green2);
    border-bottom: 0px solid var(--green3);
    color: var(--green4);
}
.btn_menu:focus {
    background-color: var(--green2);
    border-bottom: 0px solid var(--green3);
    color: var(--green4);
}


.btn_upload {
    text-align: center;
    border: 0px solid var(--green4);
    border-radius: 30px;
    background-color: var(--green3);
    color: white;
    width: auto;
    padding: 10px;
}

.btn_download {
    text-align: center;
    border: 1px solid var(--green3);
    border-radius: 10px;
    background-color: whitesmoke;
    color: var(--green3);
    width: auto;
    padding: 10px;
    font-weight: lighter;
}


.img_show_one {
    max-height: 400px;
    max-width: 95%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
}

.img_homepage {
    max-height: 250px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/*Table styling*/
.table {
    margin-bottom: 1rem;
    font-weight: lighter;
    vertical-align: top;
    text-align: left;
    --bs-table-bg: transparent;
    --bs-table-accent-bg: transparent;
    --bs-table-hover-color: var(--green4);
    --bs-table-hover-bg: rgba(0, 0, 0, 0.075);
    border-style: hidden;
    border-color: transparent;
}
/*table header that is child of table row that is child of table head that is child of table class*/
.table > thead > tr > th {
    font-weight: normal;
    border-width: 0px;
    border-color: transparent;
}
.table > thead {
    border-style: hidden;
}

.table > tbody > tr > td{
    padding: 0.15rem 0.5rem;
}
.table > tbody > tr > td + td, .table > thead > tr > th + th{
    text-align: right;
}


.table_results > tbody > tr > td {
    min-width: 150px;
    color: var(--scarlet);
    --bs-table-color: var(--scarlet);
    --bs-table-border-color: var(--bs-border-color);
    --bs-table-striped-color: var(--scarlet);
    --bs-table-striped-bg: rgba(0, 0, 0, 0.05);
    --bs-table-active-color: var(--scarlet);
    --bs-table-active-bg: rgba(0, 0, 0, 0.1);
    width: 80%;
}
.table_results > thead > tr > th {
    color: var(--scarlet);
}



.table_information > tbody > tr > td {
    
    color: var(--green3);
    --bs-table-color: var(--green3);
    --bs-table-border-color: transparent;
    --bs-table-striped-color: var(--green3);
    --bs-table-striped-bg: rgba(0, 0, 0, 0.05);
    --bs-table-active-color: var(--green3);
    --bs-table-active-bg: rgba(0, 0, 0, 0.1);
    width:80%;
}
.table_information > thead > tr > th{
    color: var(--green4);
}